
 <div class=" grid md:grid-cols-6 grid-cols-2  ">
				
	<div class="relative overflow-hidden group">
		<img src="img/SDG1.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full my-auto  flex  w-full  flex-col font-data  bg-transparent group-hover:bg-[#e5233b] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex  ">1</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">End poverty in all its forms everywhere</p>
				<a href="https://www.globalgoals.org/goals/1-no-poverty/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>

	<div class="relative overflow-hidden group">
		<img src="img/SDG2.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#dda63a] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">2</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">End hunger, achieve food security and improved nutrition and promote sustainable agriculture.</p>
				<a href="https://www.globalgoals.org/goals/2-zero-hunger/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/SDG3.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#4b9e37] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">3</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">Ensure healthy lives and promote well-being for all at all ages.</p>
				<a href="https://www.globalgoals.org/goals/3-good-health-and-well-being/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>



	<div class="relative overflow-hidden group">
		<img src="img/SDG4.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#c41b2d] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">4</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all.
				</p>
				<a href="https://www.globalgoals.org/goals/4-quality-education/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>



	<div class="relative overflow-hidden group">
		<img src="img/SDG5.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#e7412e] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">5</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Achieve gender equality and empower all women and girls.
				</p>
				<a href="https://www.globalgoals.org/goals/5-gender-equality/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/SDG6.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#2cbadf] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">6</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Ensure availability and sustainable management of water and sanitation for all.
				</p>
				<a href="https://www.globalgoals.org/goals/6-clean-water-and-sanitation/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>

	

	<div class="relative overflow-hidden group">
		<img src="img/SDG7.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#fbc10d] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">7</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Ensure access to affordable, reliable, sustainable and modern energy for all
				</p>
				<a href="https://www.globalgoals.org/goals/7-affordable-and-clean-energy/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>



	<div class="relative overflow-hidden group">
		<img src="img/SDG8.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#a21a4b] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">8</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all.
				</p>
				<a href="https://www.globalgoals.org/goals/8-decent-work-and-economic-growth/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/SDG9.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#ec692f] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">9</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					End Build resilient infrastructure, promote inclusive and sustainable industrialization and foster innovation.
				</p>
				<a href="https://www.globalgoals.org/goals/9-industry-innovation-and-infrastructure/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>

	

	<div class="relative overflow-hidden group">
		<img src="img/SDG10.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#dc1668] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">10</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Reduce inequality within and among countries.
				</p>
				<a href="https://www.globalgoals.org/goals/10-reduced-inequalities/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/SDG11.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#f49c2c] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">11</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Make cities and human settlements inclusive, safe, resilient and sustainable.
				</p>
				<a href="https://www.globalgoals.org/goals/11-sustainable-cities-and-communities/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/SDG12.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#c7982c] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">12</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Ensure sustainable consumption and production patterns.
				</p>
				<a href="https://www.globalgoals.org/goals/12-responsible-consumption-and-production/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/SDG13.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#3e7e45] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">13</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Take urgent action to combat climate change and its impacts.
				</p>
				<a href="https://www.globalgoals.org/goals/13-climate-action/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	
	<div class="relative overflow-hidden group">
		<img src="img/SDG14.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#1595d3] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">14</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Conserve and sustainably use the oceans, seas and marine resources for sustainable development.
				</p>
				<a href="https://www.globalgoals.org/goals/14-life-below-water/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	
	<div class="relative overflow-hidden group">
		<img src="img/SDG15.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-3 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#62b134] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">15</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss.
				</p>
				<a href="https://www.globalgoals.org/goals/15-life-on-land/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/SDG16.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold   min-h-max h-full">
			<div class="content  md:p-4 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#00689d] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl  top-2 left-2 absolute font-bold font-goals hidden group-hover:flex">16</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels.
				</p>
				<a href="https://www.globalgoals.org/goals/16-peace-justice-and-strong-institutions/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>
	<div class="relative overflow-hidden group">
		<img src="img/SDG17.svg" alt="Your Image" class="w-full h-auto">
		<div class="absolute top-0 left-0  text-white  font-bold  text-xl min-h-max h-full">
			<div class="content  md:p-6 p-3  min-w-full min-h-max h-full   w-full  flex-col font-data  bg-transparent my-auto flex group-hover:bg-[#18486a] lg:text-sm text-sm mx-auto text-center items-center justify-center">
				<p class="md:text-5xl text-2xl top-2 left-2 absolute font-bold font-goals hidden group-hover:flex ">17</p>
				<p class=" hidden group-hover:flex group-hover:my-auto items-center justify-center text-xs md:text-sm">
					Strengthen the means of implementation and revitalize the global partnership for sustainable development.
				</p>
				<a href="https://www.globalgoals.org/goals/17-partnerships-for-the-goals/" target="_blank" class=" bg-white p-2  hidden group-hover:flex text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
			</div>
		</div>
	</div>


	<div class="relative overflow-hidden group">
		<img src="img/18.svg" alt="Your Image" class="w-full h-auto">
		
				<a href=" https://www.globalgoals.org/goals/" target="_blank" class=" bg-white p-2  hidden group-hover:flex border border-[#e5233b] border-b-0 text-[#e5233b] text-sm font-bold text-center w-fit mx-auto bottom-0 absolute inset-x-0">Know More</a>
			
		</div>
	</div>

</div>